# Core functionality - changes here should be rare!
/src/app.py                   @devGabyAlves
/src/backend/database.py      @devGabyAlves
/src/backend/routers/auth.py  @devGabyAlves

# The frontend will need refactored soon to be more object oriented.
/src/static/   @devGabyAlves
